@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root {
    --main-bg-color: #2874f0;
  }
header{
    padding: 0px 30px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    font-family: 'Roboto Condensed', sans-serif;
    position:fixed;
    top: 0px;
   
     }
nav ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    }     
nav ul{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    list-style: none;
}
nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    /* justify-content: center; */
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 3vh;
}
.button{
    padding: 0px 10px;
    display: flex;
    align-items: center;
}
.button button{
    width: 80px;
height: 23px;
cursor: pointer;
}
.button2{
    padding: 0px 10px;
    display: flex;
    align-items:center;
}
.button2 button{
    width: 80px;
height: 23px;
cursor: pointer;
}
.container{
    width: 100vw;
   min-height:calc(100vh - 12vh - 50px );

}

.slider{
   width: 80vw;
   margin: 25px auto;
   overflow: hidden;
   height: 350px;
}
.card{
    background-color: white;
    width: 91vw;
    margin: 10px auto;
    /* background-color: red; */
    /* display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center; */
    
}
.cards{
    margin: 8px auto;
    /* padding: 0px 70px; */
    display: flex;
    /* width: 80vw; */
    /* height: 300px; */
    /* background-color: yellow; */
    overflow:scroll;
}
.card-item{
    /* background-color: red; */
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 13px;
}
.card-item img:hover{
    width: 201px;
}
.my-1{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.my-2{
    padding:4px 17px;
    font-family: 'Poppins', sans-serif;
}
footer{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--main-bg-color) ;

    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 
body{
    background-color:#f5f3f3;
}
.h-card{
    background-color: white;
    /* background-color: red; */
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 10vh auto 4vh auto;
}
.header-cards{
    /* background-color: green; */
    display: inline-flex;
    }
.header-carditems{
    
    width: 160px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}